.main {
  display: grid;
  grid-template-columns: 55% 45%;

  .left {
    background: #1a1a1a50 url("/images/bg.jpg");
    background-blend-mode: overlay;
    min-height: 100vh;
    background-size: cover;
    display: grid;
    padding: 10rem 2rem;
    align-content: space-between;

    p {
      font-size: 2rem;
      color: white;
    }
  }

  .right {
    background-color: #ffffff;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;

    .left {
      display: none;
    }

    .right {
      background: #1a1a1aa0 url("/images/umat_bg.jpg");
      background-blend-mode: overlay;
      background-size: cover;
    }

    .form_container {
      padding: 1rem;
      background-color: #ffffffee;
      border-radius: 0 0 3px 3px;
    }
  }
}
.form_container {
  padding: 3rem 0rem;
  width: min(90%, 400px);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .form {
    width: 100%;
    margin: 16px 0;
  }

  button[type="submit"]:not(:disabled) {
    width: 100%;
    color: white;
    background-color: #5578eb;

    &:hover,
    &:focus {
      background-color: darken(#5578eb, 10);
    }
  }
  .inner {
    width: 100%;
    display: grid;

    // two columns
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;

      .row {
        gap: 0;
        flex-wrap: wrap;
      }
    }
  }

  .input {
    width: 100%;
    margin: 0.5rem 0;
    color: var(--primary-color);

    & > div {
      display: flex;
      justify-content: flex-end;

      button {
        background-color: transparent;
        font-family: var(--primary-font);
        font-size: 1rem;
        margin-top: 4px;
        border: none;
        color: var(--light-color);
        cursor: pointer;
      }
    }

    label {
      display: inline-block;
    }

    input,
    select {
      width: 100%;
      padding: 0.4rem 0.6rem;
      border-radius: 4px;
      border: 1px solid #c0c0c0;
      font-family: var(--primary-font);
      font-size: 1rem;
      color: #212121;
    }

    .input:focus-within,
    .select:focus-within {
      border-color: #0abb87 !important;
    }

    @media (min-width: 768.99px) {
      label {
        color: #212121;
      }

      & > div {
        button[type="button"] {
          color: #212121;
          text-decoration: underline;
        }
      }
    }
  }
}

.links {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;

  a {
    color: #c4c4c4;
    font-size: 12px;

    &:last-child {
      text-align: right;
      height: 2rem;
      input {
        width: 100%;
        height: 100%;
      }
    }

    @media (min-width: 768.99px) {
      & {
        color: #212121;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
  width: 100%;

  button {
    width: 100%;

    &:last-child {
      --primary-color: #5578eb;
      --primary-color-focus: #4d6dd4;
      --primary-color-active: #3757be;
    }
  }
}
