@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

* {
  box-sizing: border-box;
}

.mr-2 {
  margin-right: 2rem;
}

.absolute-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.bold-white {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}
