@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

:root {
  --primary-color: #134824;
  --primary-color-focus: #28723f;
  --primary-color-active: #399456;
  --light-color: #f4f4f4;
  --light-color-focus: #d8d8d8;
  --light-color-active: #ddd;

  --primary-font: "poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mr-2 {
  margin-right: 2rem;
}

.absolute-left {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
