.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #1a1a1aa0 url("/images/umat_bg.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  align-items: center;

  .inner_grid {
    display: grid;
    place-items: center;
    gap: 2rem;

    .text {
      color: #eaeaea;
      font-size: 2rem;
      padding: 1rem;
      letter-spacing: 0.15rem;
      text-transform: capitalize;
    }

    .buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
