.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1a1a1aa0 url("../public/images/umat_bg.jpg");
  background-blend-mode: overlay;
  align-items: center;

  .inner_grid {
    display: grid;
    place-items: center;
    gap: 2rem;
    .buttons {
      display: flex;
      gap: 1rem;
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
