.main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #1a1a1aa0 url("/images/umat_bg.jpg");
  background-blend-mode: overlay;
  background-size: cover;
  align-items: center;

  .inner_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      color: #eaeaea;

      font-family: var(--secondary-font);

      > h1 {
        text-transform: capitalize;
        font-size: 3rem;
        padding: 1rem;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
      }
    }
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
